<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form name="trip_form" action="./trips" method="POST">
      <input type="text" name="name" placeholder="Name your trip?">
      <input type="text" name="startDate" placeholder="start date">
      <input type="text" name="endDate" placeholder="end date">
      <input type="text" name="location" placeholder="location">
      <input type="text" name="room" placeholder="rooms?">
      <input type="text" name="adults" placeholder="adults?">
      <input type="text" name="children" placeholder="children?">
      <input type="submit" name="submit">
    </form>
  </body>
</html>
