<!DOCTYPE html>
<html>
  <head>
    <title>trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Trip</h1>
    <form class="form-horizontal" name="trip_form" method="POST">
    <fieldset>
      <legend>Legend</legend>
      <div class="form-group">
        <label for="inputTrip" class="col-lg-2 control-label">Trip Name</label>
        <div class="col-lg-10">
          <input type="text" name="name" class="form-control" id="inputTrip" placeholder="Name Your Trip">
        </div>
      </div>
      <div class="form-group">
        <label for="inputConcepts" class="col-lg-2 control-label">Concepts</label>
        <div class="col-lg-10">
          <input type="text" name="concepts" class="form-control" id="inputConcepts" placeholder="List Your Plans">
        </div>
      </div>
      <div class="form-group">
        <label for="inputStartDate" class="col-lg-2 control-label">Start Date</label>
        <div class="col-lg-10">
          <input type="date" name="startDate" class="form-control" id="inputStartDate">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEndDate" class="col-lg-2 control-label">End Date</label>
        <div class="col-lg-10">
          <input type="date" name="endDate" class="form-control" id="inputEndDate">
        </div>
      </div>
      <div class="form-group">
        <label for="inputLocation" class="col-lg-2 control-label">Location</label>
        <div class="col-lg-10">
          <input type="text" name="location" class="form-control" id="inputLocation">
        </div>
      </div>
      <div class="form-group">
        <label for="rooms" class="col-lg-2 control-label">Rooms</label>
        <div class="col-lg-10">
          <select class="form-control" id="rooms">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="adults" class="col-lg-2 control-label">Adults</label>
        <div class="col-lg-10">
          <select class="form-control" id="adults">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="children" class="col-lg-2 control-label">Children</label>
        <div class="col-lg-10">
          <select class="form-control" id="children">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
    </form>

    <p><%= data %> <%= response.body %></p>
  </body>

<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/update.js"></script>

</html>
