<!DOCTYPE html>
<html>
  <head>
    <title>trip</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <div class="header">
    <div class="headerLogo">
      <img src="/images/gv.logomark.black.png" id="tripLogo"alt="Gathervant Logo" />
      <h3 id="gathervantTrip">GATHERVANT</h3>
        <h3 id="groupTripText">GROUP TRIP PLANNER</h3>
    </div>
    <div class="rightHeader">
      <h1 id="headerTripName">Trip Name
      <h3 id="headerLocation">Location</h1>
    </div>
  </div>
  <div class="headerBar"></div>

  </div>
    <div class="container">
      <form class="form-horizontal" name="trip_form" action="./trips" method="POST">
      <fieldset>
        <div class="optionBar">
            <div class="col-lg-10 editTripForm">
              <label for="inputStartDate" class="col-lg-2 control-label">Start Date</label>
              <input type="date" name="name" class="form-control" id="inputStartDate" placeholder="Start Date">
            </div>
            <div class="col-lg-10 editTripForm">
              <label for="inputEndDate" class="col-lg-2 control-label">End Date</label>
              <input type="date" name="name" class="form-control" id="inputEndDate" placeholder="End Date">
            </div>
            <div class="form-group">
              <label for="rooms" class="col-lg-2 control-label">Rooms</label>
              <div class="col-lg-10" id="firstBox">
                <select class="form-control" id="rooms">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="adults" class="col-lg-2 control-label">Adults</label>
              <div class="col-lg-10" id="secondBox">
                <select class="form-control" id="adults">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="children" class="col-lg-2 control-label">Children</label>
              <div class="col-lg-10" id="thirdBox">
                <select class="form-control" id="children">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary" id="tripEditSubmit">Submit</button>
      </form>

      <div class="goalsBox">
        <div class="goalAdder">
          <input type="text" class="goalsInput"name="goalsInput" value="">
          <i class="fa fa-plus-square fa-lg" style="margin-left: 20px;"></i>
          <i class="fa fa-check-square fa-lg" style="margin-left: 20px;"></i>
        </div>

      </div>
    </div>
  </body>

<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/update.js"></script>
</html>
